* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    gap: 20px;
    background: url(http://localhost:3000/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
